<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", blog: @blog, comment: @comment %>

<br>

<div>
  <%= link_to "Show this comment", blog_comment_path(@blog, @comment) %> |
  <%= link_to "Back to comments", blog_comments_path(@blog) %>
</div>